<header>

    <nav>
        <ul>
            <li>
                <a href="/cargaDatos">Ingresar datos</a>
            </li>
            <li>
                <a href="/historial">Consultar datos</a>
            </li>
            <li>
                <a href="/analisis">Análisis</a>
            </li>
        </ul>

    </nav>


</header>