<main>
    <div>
        <h1>Bienvenido a servisystem
        </h1>
    </div>
    <div>
        <ul>
            <li>
                <a href="/cargaDatos">Ingresar datos</a>
            </li>
            <li>
                <a href="/historial">Consultar datos</a> 
            </li>
            <li>
                <a href="/analisis">Análisis</a>
            </li>                        
        </ul>
    </div>
    {{{navbar}}}



</main>